In [ ]:
#display stored value
name = "monika"
roll_no = 12
print(name)
print(roll_no)

monika
12

In [ ]:
k = [[1,2],[3,4],[5,6]]
l = dict(k)
print(l)

k = ((1,9),(3,4),(5,6))
l = dict(k)
print(l)

{1: 2, 3: 4, 5: 6}
{1: 9, 3: 4, 5: 6}

In [ ]:
string_word = "python"
list_word = list(string_word)
print(list_word)

string_word1 = "[1,2,2,3,5]"
list_word1 = list(string_word1)
print(list_word1)

# tuple to list
tup = (1,2,3,4,5)
a = list(tup)
print(a)

#set to list
q = {1,2,3,4,5}
b = list(q)
print(b)

['p', 'y', 't', 'h', 'o', 'n']
['[', '1', ',', '2', ',', '2', ',', '3', ',', '5', ']']
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
# list tuple used - convert to dict
k = [('a',(1,9,2)),(3,4),(5,6)]
l = dict(k)
print(l)

{'a': (1, 9, 2), 3: 4, 5: 6}

In [ ]:
_list_tuple = [((5,6,7), 'a'), (6,7), (8,9)] #tuple excepted b/c it is immutable means hashable
dict(_list_tuple)

{(5, 6, 7): 'a', 6: 7, 8: 9}

In [ ]:
# Note : In key : list, set & dict are not accepted.
_list_tuple = [([5,6,7], 'a'), (6,7), (8,9)]
dict(_list_tuple) # First element : Key , Second element : Value

TypeError: unhashable type: 'list'

In [ ]:
var = input('enter your name')
print(var)

enter your namemonika
monika

In [ ]:
_var = eval(input('Enter the list of marks:'))
print(type(_var))
print(_var)

Enter the list of marks:100.0
<class 'float'>
100.0

In [ ]:
x = 5
eval('print(x*x)')
eval('print(x+2*x)')
# eval(print([1,2])) #eval() cannot evaluate a list;

25
15

In [ ]:
name = eval(input("Enter your name: "))
print(name)

Enter your name: "Lovely"
Lovely

In [ ]:
print(chr(105))
print(chr(108))
print(chr(111))
print(chr(118))
print(chr(101))
print(chr(121))
print(chr(111))
print(chr(117))

# print(chr(120))
# print(chr(117))

# x = ord('y')
# print(x)
emotion = chr(128516) # From unicode to character
print(f'I am feeling {emotion}')
print('I am feeling', emotion)

i
l
o
v
e
y
o
u
I am feeling ðŸ˜„
I am feeling ðŸ˜„

In [ ]:
word = "lovelyyyy"
index = {}
count = 0
for i , j in enumerate(word):
    if j =='y':
     count+=1
     index[count] = i
n = 2
print(index[n])

6

In [ ]:
# List to Set
list1 = [1,2,3,4,5]
set1 = set(list1)
print(set1)

# String to Set
list2 = "monika"
set2 = set(list2)
print(set2)

# Tuple to Set
list3 = (1,2,3,4,5)
set3 = set(list3)
print(set3)

{1, 2, 3, 4, 5}
{'k', 'a', 'n', 'i', 'm', 'o'}
{1, 2, 3, 4, 5}

In [ ]:
list = [1,2,3,{3:4}]   # dict {3:40} throws an error because dict is mutable means (non hashable) but set only stores hashable value that's why it throws an error
f = set(list)          # set ek khud non hashable h or lekin vo store krta h hashable (immutable ) values ..jo unique ho
print(f)

list = [1,2,3,(3,4)]    # we use tuple in this case tuple is immutable (can't modified ) means (hashable) ...hashable stores unique value thats why it does not throws an error
e = set(list)
print(e)

TypeError: unhashable type: 'dict'

In [ ]:
list = [1,2,3,(3,4)]    # we use tuple in this case tuple is immutable (can't modified ) means (hashable) ...hashable stores unique value thats why it does not throws an error
e = set(list)
print(e)

{1, 2, 3, (3, 4)}

In [ ]:
# let's consider the scenarion where I want to print
# "Hi, My name is <name>, I have enrolled in the <program>. Thank you!",
#Where Program is a variable which will change
# Including variable with the text

#method 1 : Using Comma separated values # Most Common

name = "monika"
program = "data science"
print('hi my name is',name,',i have enrolled in the',program,".thank you")

# method - 2,  fstring used
x = "systematic"
y = 12
print(f"the word is {x} & the no. is {y}")

#method - 3 use format()
x = "lovely"
y = "microsoft"
z = "very much"
print("hello I'm {} i am currently work in {} company, thank you {}".format(x , y,z))

#method - 4 use concatenation +
x = "lovely"
y = "microsoft"
z = "very much"
print("hello I'm " + x + " i am currently work in " + y + " company, thank you " + z)

hi my name is monika ,i have enrolled in the data science .thank you
the word is systematic & the no. is 12
hello I'm lovely i am currently work in microsoft company, thank you very much
hello I'm lovely i am currently work in microsoft company, thank you very much

In [ ]:
a = "lovely"
print(len(a))

l = [[1,2],3,3]
print(len(l))
type(l)

6
3

list

In [ ]:
#typecasting
x = 13.222
y = int(x)
print(y)
_str = "23.45"
z = float(_str)
print(z)

13
23.45