In [ ]:
print("hello world")

hello world

In [ ]:
x = 10.5
y = 20
print(x+y)

30.5


**Data Types in Python**

In [ ]:
num1 = 10 #int
num2 = 15.6 #float
n3 = "hello lovely"  #string
n4 = True  #boolean
print(type(num1))
print(type(num2))
print(type(n3))
print(type(n4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

**Variables** - A variables is a named storage location for data. It allows to be resued , assigned or modifying a value. variables names are case sensitivie. Ex - "Age" and "age" both are different

In [ ]:
name = "monika saini"
print("My name is " + name)

x = 10
print(x)
x = "city"       #Re-assigning a Variable
print(x)

# combining string & variable
Name = "ram"
age = 20
print( "I am " + Name + " and I am " + str(age) + " years old" )

My name is monika saini
10
city
I am ram and I am 20 years old

# Data Types in Python

1. Numeric data type :- Int , Float

2. String :- sequence of character enclosed with single quote', double quote " or triple quote '''.

 **Creating Strings**  

 ● Single Quotes: 'Hello'

 ● Double Quotes: "Python"

 ● Triple Quotes: '''Multi-line String'''

3. Lists (list) :- A list is an ordered collection of items, which can be of different types. Lists are mutable, meaning they can be changed after creation.

4. Tuples (tuple) :- A tuple is a immutable collection of items meaning they cannot be changed after creation.

 **Why Use Tuples Instead of Lists?**

● Tuples are faster than lists.

● Useful for data that should not be changed (e.g., coordinates, fixed
configurations).

5. Set - is a unordered collection of unique data elements

 Set Operations

● Union (|) – Combines two sets.

● Intersection (&) – Returns common elements.

● Difference (-) – Finds elements in one set but not another.

6. Dictionaries (dict) :- unodered collection of key value pair data item

Built-in Functions for Data Types

 Type Conversion Functions

● int() – Converts to an integer.

● float() – Converts to a float.

● str() – Converts to a string.

● list() – Converts to a list.

● tuple() – Converts to a tuple.

● set() – Converts to a set.

● dict() – Converts to a dictionary.

In [ ]:
# Numeric Data Types
x = 20
y = 15.6
c =2.5e3
print(type(x))
print(type(y))
print(type(c))

#string
text = "hello world"
print(type(text))

#accessing character
print(text[1])
print(text[3])

#list
l1 = [1,2.5, "monday", "apple"]
print(l1)
print(type(l1))
print(l1[3])
l1.append("Litchi")
print(l1)

#Tuple
T = (1.2, "lovishhh", "brilliantide")
print(T)
print(type(T))
print(T[2])

#set
set = {1,3,4,4,5,2}
print(set)  #remove duplicates also
for x in set:
  print(x)

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1 | set2)
print(set1 & set2)
print(set1 - set2)

#dictionaries
dict = {
    "x" : "apple",
    "y" : "cat",
    "z" : 2
}
print(dict)
print(dict["y"])
print(dict.keys())
print(dict.values())
print(dict.items())

dict["z"] = 3
print(dict["z"])
print(dict)

num = "100"
num_int = int(num)
print(num_int) # Output: 100
print(type(num_int))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'str'>
e
l
[1, 2.5, 'monday', 'apple']
<class 'list'>
apple
[1, 2.5, 'monday', 'apple', 'Litchi']
(1.2, 'lovishhh', 'brilliantide')
<class 'tuple'>
brilliantide
{1, 2, 3, 4, 5}
1
2
3
4
5
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{'x': 'apple', 'y': 'cat', 'z': 2}
cat
dict_keys(['x', 'y', 'z'])
dict_values(['apple', 'cat', 2])
dict_items([('x', 'apple'), ('y', 'cat'), ('z', 2)])
3
{'x': 'apple', 'y': 'cat', 'z': 3}
100
<class 'int'>

In [ ]:
#Indexing

a = "hello world"
print(a[2])
print(a[-1])

# indexing in list
list = [10,20,30,40,50]
print(list[3])
print(list[-2])

# indexing in list
list1 = [12,20, [10,40,60],9]
print(list1[-2])
print(list1[0])

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_list[1][2]) # Output: 6

l
d
40
40
[10, 40, 60]
12
6

In [ ]:
#Slicing - Slicing allows extracting portions of sequences such as strings, lists, and tuples using the start:stop:step syntax.

# Basic Slicing Operations
# ● Start – The index from where slicing begins (inclusive).
# ● Stop – The index where slicing stops (exclusive).
# ● Step – The increment between indices (default is 1).

text = "hellolovely"
print(text[2:])
print(text[1:5])
print(text[:4])
print(text[5:])

# Slicing with Step Parameter
num = [1,2,3,4,5,6,6,7.7,8,9]
print(num[::2])
print(num[1::1])
print(num[::-1])  #reversing a list
num[1] = "apple"
print(num[1])  # replacing + modification of list
print(num)

# Using Slicing for String Manipulation
str = "lovely"
print(str[::-1])
print(str[::-2])

# Indexing and Slicing in Tuples
numbers = (10, 20, 30, 40, 50)
print(numbers[2]) # Output: 30
print(numbers[-1]) # Output: 50
print(numbers[:3])

nested_list = [[10, 20, 30], [40, 50, 60], [70, 80, 90]]
print(nested_list[1][2]) # Output: 60
print(nested_list[2][:2]) # Output: [70, 80]

nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(nested_tuple[1][1]) # Output: 5
print(nested_tuple[0][:2]) # Output: (1, 2)

llolovely
ello
hell
lovely
[1, 3, 5, 6, 8]
[2, 3, 4, 5, 6, 6, 7.7, 8, 9]
[9, 8, 7.7, 6, 6, 5, 4, 3, 2, 1]
apple
[1, 'apple', 3, 4, 5, 6, 6, 7.7, 8, 9]
ylevol
yeo
30
50
(10, 20, 30)
60
[70, 80]
5
(1, 2)

In [ ]:
# Arithmetic operators
a = 15
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

# comparison operators
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

#logical operators
x = 15
print(x>10 and x<20)
print(x>13 or x<20)
print(not(x>10 and x<20))

#assigment operators
x = 10
x += 5
print(x) # Output: 15
x *= 2
print(x) # Output: 30
x -= 5
print(x) # Output: 25

# Membership Operators - in , not in
fruits = ["apple" , "Mango" , "litchi", "grapes"]
print("apple" in fruits)
print("Mango" not in fruits)

17
13
30
7.5
1
7
225
False
True
True
False
True
False
True
True
False
15
30
25
True
False

In [ ]:
#numeric Built in Functions
print(abs(-98))
print(pow(2,4))
print(max(12,10,26))
print(round(10.55778,2))

98
16
26
10.56

In [ ]:
# string Manipulation
text = "Manali"
print(len(text))
print(ord("a"))
print(chr(100))

6
97
d

In [ ]:
# Type Conversion
text = "hello"
x = 10
print(int(x))
print(float(x))
x1 = str(x)
print(type(x1))
print(list(text))
print(type(x))

10
10.0
<class 'str'>
['h', 'e', 'l', 'l', 'o']
<class 'int'>

In [ ]:
number1 = [10,20,100,60]
print(sum(number1))
print(sorted(number1))

190
[10, 20, 60, 100]

In [ ]:
# Using enumerate() to Get Index and Value
fruit = ["apple" , "Mango" , "papaya" , "litchi", "grapes"]
for index, fruit in enumerate(fruit):
  print(index, fruit)

text = " Python Programming "
print(text.strip())
print(text.split(","))
print(text.upper())
print(text.lower())
print(text.replace("Python", "Java"))

0 apple
1 Mango
2 papaya
3 litchi
4 grapes
Python Programming
[' Python Programming ']
 PYTHON PROGRAMMING
 python programming
 Java Programming

In [ ]:
#List Methods
num = [10,20,30,"apple", "mango"]
print(num)
num.append("5")
print(num)
num.remove(30)
print(num)
x = num.pop()
print(x)
print(num)
num.reverse()
print(num)

[10, 20, 30, 'apple', 'mango']
[10, 20, 30, 'apple', 'mango', '5']
[10, 20, 'apple', 'mango', '5']
5
[10, 20, 'apple', 'mango']
['mango', 'apple', 20, 10]

In [ ]:
# Dictionary Methods
students = {
    "name" : "monika",
    "age" : 20,
    "grade" : "A"
}
print(students)
print(students.keys())
print(students.values())
print(students.items())
print(students.get("name"))
students["age"] = 21
print(students)
print(students.update({"name": "lovely"}))
print(students)

{'name': 'monika', 'age': 20, 'grade': 'A'}
dict_keys(['name', 'age', 'grade'])
dict_values(['monika', 20, 'A'])
dict_items([('name', 'monika'), ('age', 20), ('grade', 'A')])
monika
{'name': 'monika', 'age': 21, 'grade': 'A'}
None
{'name': 'lovely', 'age': 21, 'grade': 'A'}