In [4]:
# if statement
age = 26
if age>=25:
  print("person is eligible to vote ")
print(age)

person is eligible to vote
26

In [6]:
#if-else statement
marks = 40
if marks>= 40:
  print("student is pass")
else:
  print("student is fail")

print(marks)

student is pass
40

In [9]:
# if-elif-else

marks = 98
if marks>=90:
  print("Grade A")
elif marks>= 60 and marks<= 90:
  print("grade B")
else:
  print("grade C")

Grade A

In [20]:
#for loop - A for loop is used when the number of iterations is known or when iterating through a sequence

fruits = ["apple", "mango", "litchi", "orange", "guava"]
for x in fruits:
  print(x)

text = "Lovely"
for x1 in text:
  print(x1)

# iterating over tuple
colors = ("pink", "red", "blue", "white", "brown")
for color in  colors:
  print(color)

num = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
for i in range(1,10,2):
  print(i)

apple
mango
litchi
orange
guava
L
o
v
e
l
y
pink
red
blue
white
brown
1
3
5
7
9

In [32]:
#while loop
count = 1
while count<=10:
  print(count)
  count+=2

num = int(input("enter the number which is greater than 10 - "))

while num<=10:
  num = int(input("enter the number which is greater than 10 -"))
print("successful")

1
3
5
7
9
enter the number which is greater than 10 - 5
enter the number which is greater than 10 -5
enter the number which is greater than 10 -15
successful

In [35]:
# break
for i in range(10):
  if i == 5:
    break
  print(i)

#continue
for i in range(10):
  if i ==4:
    continue
  print(i)

#pass
for i in range(4):
  pass

0
1
2
3
4
0
1
2
3
5
6
7
8
9

In [40]:
# Nested Loops
for i in range(3):
  for j in range(5):
    print(f" i = {i}, j = {j} ")
print("exit my loop")

for i in range(1,7):
  for j in range(i):
    print("*", end = " ")
  print()

 i = 0, j = 0
 i = 0, j = 1
 i = 0, j = 2
 i = 0, j = 3
 i = 0, j = 4
 i = 1, j = 0
 i = 1, j = 1
 i = 1, j = 2
 i = 1, j = 3
 i = 1, j = 4
 i = 2, j = 0
 i = 2, j = 1
 i = 2, j = 2
 i = 2, j = 3
 i = 2, j = 4
exit my loop
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [52]:
num = [10, 20,30, 40,50,5]
sum = 0
for i in num:
  sum += i
print(sum)

for i in num:
  if i%2 == 0:
    print("number is even " , i )
  else:
    print("number is odd " , i )

for i in range(1, 15):

    if i > 1:
        is_prime = True

        for j in range(2, i):
            if i % j == 0:
                is_prime = False
                break

        if is_prime:
            print(i, "is prime")
        else:
            print(i, "is not prime")

student = {"name": "John", "age": 20, "course": "Python"}
for key, value in student.items():
 print(key, ":", value)

155
number is even  10
number is even  20
number is even  30
number is even  40
number is even  50
number is odd  5
2 is prime
3 is prime
4 is not prime
5 is prime
6 is not prime
7 is prime
8 is not prime
9 is not prime
10 is not prime
11 is prime
12 is not prime
13 is prime
14 is not prime
name : John
age : 20
course : Python

In [55]:
# Finding Prime Numbers in a Range

for i in range(10,21):
  is_prime = True
  for j in range(2,i):
    if i%j ==0:
      is_prime = False
      break;
  if is_prime:
      print(i, "is prime")

11 is prime
13 is prime
17 is prime
19 is prime

In [57]:
employee = {
    "name" : "John",
    "age" : 34,
    "designation" : "Manager"
}
for key,value in employee.items():
  print(key, ":", value)

name : John
age : 34
designation : Manager