In [ ]:
mylist = [10,20, 30, 40, 60] #-ve indexing starts from last
print(mylist[0])
print(mylist[-1])

10
60

In [ ]:
mylist = ["amita", 'x',13,15] #start end inclusive & last end exclusive
print(mylist[1:3])
print(mylist[2:])  # In slicing , indexing 2 include and after all elments
print(mylist[:3])  # In slicing , indexing 3 does not include & only include before all elements

['x', 13]
[13, 15]
['amita', 'x', 13]

In [ ]:
x = [1,2,3,4,5,6,7,8,9,10]              #syntax - sequence[start:stop:step]
print(x[1:9:2])                        #stop parameter - it will skip 2 elements
print(x[2:8:3])                           #stop parameter - it will skip 3 elements

[2, 4, 6, 8]
[3, 6]

In [ ]:
#indexing in nested list
x = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
# print(x[-1][-1])
# print(x[2][1])
# print(x[:2])
# print(x[1:])
print(x[::2])

[[1, 2, 3], [7, 8, 9]]

In [ ]:
a = {
    "name": "lovely",
    "designation": "data analytics",
    "Employee id": 395235,
    "company name" : "google"
}
print(a["name"])
type(a)
len(a)

lovely

4

In [ ]:
x = 10
y = 20
result = [x,y,(1,2),"mango",{1,4}]
print(result)

[10, 20, (1, 2), 'mango', {1, 4}]

In [ ]:
_var_dict = {'alok':40, 'abc':60,'alok':60}
print(_var_dict)

{'alok': 60, 'abc': 60}

In [ ]:
set = {1, "moni", 2,2}
len(set)

3

In [ ]:
a = input()
a_split= a.split(' ')
print(a_split)

i am heroine of my life
['i', 'am', 'heroine', 'of', 'my', 'life']

In [ ]:
print("hello , world")

hello , world

In [ ]:
12**(3)     #EXPONENTIATION OPERATOR
1.2+3.2

4.4

In [ ]:
1+2*3+4 #operators used

11

In [ ]:
fruits = ["apple", "mango", "banana"]
for fruit in fruits:
 print(fruit)
#  type(fruit)

apple
mango
banana

In [ ]:
x = 6.77
type(x)

float

In [ ]:
var1= {"apple":1, "x":"lovely"}
type(var1)

dict

In [ ]:
str = "monika\'s pen"
print(str)

monika's pen

In [ ]:
var = '''i'm \n lovely
"i'm also intelligent"'''
print(var)

i'm
 lovely
"i'm also intelligent"

In [ ]:
var = [1,2,'x',5.5]
type(var)

list

In [ ]:
import math
result = math.sqrt(4)
print(result)

2.0

In [ ]:
x = 10
if x>5:
  print("x is greater than 5 & lovely is beautiful")
else:
  print("lovely is not beautiful")

x is greater than 5 & lovely is beautiful